img {
  width: 100%;
}

.img-container {
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.character {
  overflow: hidden;
  box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.2);
}